<footer class="footer p-10 bg-neutral text-neutral-content">
  <aside>
    <img class="h-28 w-30 -m-8" src="../../../../assets/ecommerceLogo.png" alt="" />
    <p>E-commerce Ltd.<br />Providing reliable service since 2024</p>
  </aside>
  <nav>
    <h6 class="footer-title">Help</h6>
    <a class="link link-hover">Payments</a>
    <a class="link link-hover">Shipping</a>
    <a class="link link-hover">Cancellation & Returns</a>
    <a class="link link-hover">FAQ</a>
  </nav>
  <nav>
    <h6 class="footer-title">Company</h6>
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
    <a class="link link-hover">Careers</a>
    <a class="link link-hover">Press kit</a>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy policy</a>
    <a class="link link-hover">Cookie policy</a>
  </nav>
</footer>
