<Main class="mt-20 min-h-screen mx-10 sm:mx-16 lg:mx-28 cXl:mx-40">
  <section
    class="flex flex-col-reverse md:flex-row justify-center items-center md:h-96"
  >
    <div class="md:w-1/2 text-start md:p-10 space-y-5">
      <h3
        class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-semibold text-accent"
      >
        Ecommerce
      </h3>
      <p class="text-xs sm:text-sm md:text-base">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac nulla
        metus. Curabitur eget libero enim. Nam lorem sem, imperdiet quis velit
        ac, porta aliquet est. Nunc consequat, justo in.
      </p>
      <button
        (click)="scrollToSection()"
        class="btn btn-primary btn-wide btn-sm md:btn-md"
      >
        Explore
      </button>
    </div>
    <div class="sm:w-1/2">
      <img
        class="object-cover"
        src="../../../../assets/Ecommerce web page-pana.png"
        alt=""
      />
    </div>
  </section>

  <section
    #productListSection
    id="productListSection"
    class="py-5 sm:py-10 md:py-20"
  >
    <form
      class="max-w-xl mx-auto py-3 md:py-5"
      #searchForm="ngForm"
      (ngSubmit)="searchSubmit()"
    >
      <div class="relative">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
        </div>
        <input
          type="search"
          class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-accent focus:border-accent"
          placeholder="Search Store"
          [(ngModel)]="searchText"
          name="searchText"
        />
        <button
          type="submit"
          class="absolute end-2.5 bottom-2.5 bg-primary hover:bg-secondary focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2"
        >
          Search
        </button>
      </div>
    </form>

    <div class="flex justify-center items-center space-x-4 flex-wrap space-y-2">
      <button
        class="btn btn-sm btn-accent"
        [class.btn-outline]="selectedCategory !== ''"
        (click)="changeCategory('')"
      >
        All
      </button>
      <button
        *ngFor="let category of categories; let categoryIndex = index"
        class="btn btn-sm btn-accent"
        [class.btn-outline]="selectedCategory !== category"
        (click)="changeCategory(category)"
      >
        {{ category }}
      </button>
    </div>
    <div
      *ngIf="!products[0] || productsLoading"
      class="flex items-center justify-center w-full h-56 relative"
    >
      <div *ngIf="!products[0]" class="text-2xl">No products to show</div>
      <app-loading-screen *ngIf="productsLoading"></app-loading-screen>
    </div>

    <div
      *ngIf="products[0]"
      class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
    >
      <ng-container *ngFor="let product of products; let productIndex = index">
        <div
          (click)="navigateTo(product.id)"
          *ngIf="
            submittedSearchText == '' ||
            product.title?.toLocaleLowerCase()?.includes(submittedSearchText) ||
            product.category
              ?.toLocaleLowerCase()
              ?.includes(submittedSearchText) ||
            product.price?.toString()?.includes(submittedSearchText)
          "
          class="group relative"
        >
          <div
            class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-base-200 lg:aspect-none group-hover:opacity-75 lg:h-72"
          >
            <img
              [src]="product.image"
              alt="productg image"
              class="h-full w-full object-cover object-center lg:h-full lg:w-full"
            />
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm">
                <a class="">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  {{ product.title }}
                </a>
              </h3>
              <p class="mt-1 text-sm text-accent">{{ product.category }}</p>
            </div>
            <p class="text-sm font-semibold">${{ product.price }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </section>
</Main>
